.landing {
  background-color: #e5e5e5;
}

.landing .hero-area {
  height: 100vh;
}

.hero-area .hero-area__bg {
  background: url("../../assets/images/home/hero-area.jpg") no-repeat 50%;
  background-size: cover;
  height: 100%;
}

.hero-area .logo {
  width: 13.1rem;
  object-fit: contain;
}

.nav {
  display: none;
  justify-content: space-between;
  align-items: center;
  min-height: 7.4rem;
}

.nav .nav__links {
  font-family: "tt_normsthin", sans-serif !important;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav__links p:hover {
  border-bottom: 2px solid var(--primary-color);
}

.nav .btn {
  margin-right: 4rem;
}

.landing .whisperText {
  width: 40.8rem;
  margin-top: 7.4rem;
}

.landing .straightline {
  width: 16.9rem;
  height: 0.1rem;
  background-color: #d5a5ff;
}

.landing .heading {
  margin-top: -3.8rem;
  font-size: 5rem !important;
}

.landing .storeapps {
  display: block;
}
.landing .storeapps:last-child {
  margin: 1rem 0;
}

.landing .create-account {
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 7.4rem;
  }

  .landing .heading {
    margin-top: -6rem;
    font-size: 6rem !important;
  }

  .landing .storeapps {
    display: inline;
    margin: auto;
  }
  .landing .storeapps:first-child {
    margin-right: 2rem;
  }
  .landing .create-account {
    margin-top: 5rem;
  }
}
